.dialog_window {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;
  align-self: center;
  justify-self: center;
}
.modal_content {
  width: 50vw;
  height: 30vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  border: 2px #a6d189 solid;
  border-radius: 20px;
}
.dialog_window::backdrop {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}
