@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  background-color: #11111b;
  color: #cdd6f4;
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  font-style: normal;
  border: 0px;
}
table,
th,
td {
  border: 0px solid black;
  border-collapse: collapse;
  table-layout: fixed;
}
body {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
